h1 { /*page titles*/
    font-size: 40px;
	font-family: "Times New Roman", Times, serif;
    color: #3BA771;
	text-align: center;
}	

h3 { /*section titles*/
    font-size: 32px;
	font-family: "Times New Roman", Times, serif;
    color: #3BA771;
	text-align: center;
}	

p { /*paragraph formatting*/
    font-size: 16px;
	font-family: "Times New Roman", Times, serif;
    color: #000000;
	text-align: left;
}	

ul { /*attack list formatting*/
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
    color: #000000;
	text-align: left;
}

img { /* making the main image respond to the change in window size*/
	max-width: 100%;
	height: 768;
	margin: auto;
}

img:hover { /*hover colour*/
	background-color: #74ccb1;
	opacity: 0.8;
}

.pagesize { /*removing the horizontal scroll bar: https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll*/
	max-width: 100%;
	overflow-x: hidden;
}

.jumbotron{ /*removing the background from the jumbotron image: https://stackoverflow.com/questions/22904102/how-to-change-the-background-color-of-jumbrotron*/
	background-color:transparent !important;
}

.main-image{ /* centering the main image*/
	width: 1024;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.col-4{ /*icon coloumn formatting*/
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
    color: #000000;
}

.container-icons{ /*icon container formatting*/
	max-width: 1024px;
	display: inline-block;
	margin-right: 20%;
	margin-left: 20%;
}

.row2{ /*maintaing margins*/
	margin-left: 20%;
	margin-right: 20%;
}

