/* General Document Setup */

:root {
    --highlights: rgb(30, 34, 31);
    --primary-col: #374243;
    --secondary-col: #2fc05a;
    --tert-col: #278342;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Sansation", sans-serif;
    max-width: 100vw;
    color: white;
    background-color: var(--primary-col);
}


/* Specific Document Styling */

#grid_layout {
    display: grid;
    grid-template-columns: 10% 1fr;
    width: 100%;
    height: auto;
    gap: 0rem;
    grid-template-areas: 
        "sb in"
        "sb re"
        "sb wk"
        "sb pr";
}

#sidebar {
    height: 100vh;
    width: 100%;
    grid-area: sb;
    background-color: var(--highlights);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    z-index: 1000;
    position: sticky;
    top: 0;
    align-self: start;
}

#sidebar img {
    width: 40%;
    padding: 2vh 0vw;
    filter: hue-rotate(100deg);
}

#sidebar img:hover {
    filter: hue-rotate(200deg);
}

#sidebar_contact {
    max-width: 100%;
    font-size: 0.7rem;
    color: var(--secondary-col);
}

.dropdown {
    width: 100%;
    height: 100px;
    /* position: relative; */
    background-color: var(--tert-col);
    animation: fade_in 2s;
    align-content: center;
    margin: 0;
    border-top: 1px solid var(--secondary-col);
    border-bottom: 1px solid var(--secondary-col);
    user-select: none;
    transition: background-color 0.5s;
}

.dropdown:hover {
    background-color: var(--secondary-col);
    cursor: pointer;
}

.dropdown_open {
        background-color: var(--secondary-col);
}

/* .dropdown_open:hover {
    background-color: var(--tert-col);
} */

.dropdown_sign {
    max-width: 15px;
    padding: 0vh 2vw;
    filter: invert();
}

#introduction {
    grid-area: in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_title {
    font-weight: bold;
    font-size: 3rem;
    /* height: 20%; */
    animation: fade_in 0.5s;
}

#main_description {
    /* height: 20%; */
    animation: fade_in 1.2s;
    font-size: 2rem;
}

#resume_section {
    grid-area: re;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    animation: fade_in 2s;
    align-content: center;
    font-size: 1.4rem;
    padding: 5vh 0vw;
}

#resume_section a {
    width: 30%;
    text-decoration: none;
    color: white;
}

.resumes {
    align-self: center;
    justify-items: center;
    width: 100%;
    transition: background-color 1s;
    border: 1px solid var(--secondary-col);
    padding: 2vh 0vw;
    box-shadow: 5px 5px var(--highlights);
}

.resumes img {
    max-width: 100px;
    display: block;
    flex-shrink: 0;
    filter: invert();
}

.resumes:hover {
    background-color: var(--secondary-col);
    transform: scale(1.1);

}

.position_in_grid {
    position: relative;
}


#work {
    grid-area: wk;
}

#projects {
    grid-area: pr;
}

#work_content, #projects_content {
    transition: height 0.7s;
    overflow: hidden;
    display: relative;
    top: 0;
    width: 100%;
}

#work_content {
    grid-area: wk;
}

#projects_content {
    grid-area: pr;
}

#work_content_inner {
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: var(--highlights); */
    /* margin: 2vh 0vw; */
    width: 100%;
    height: 100%;
}

#work_content_inner div {
    width: 50%;
    background-color: var(--highlights);
    display: flex;
    flex-direction: column;
}

.education {
    display: flex;
    flex-direction: row;
}

.education img {
    width: 30%;
}



/* Custom Animations */

@keyframes fade_in {
    0% {
        opacity: 0;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}


/* Media Queries and Responsiveness */

@media (width < 1070px) {
    #grid_layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "sb"
            "in"
            "re"
            "wk"
            "pr";
    }
    #introduction p {
        font-size: 1rem;
    }
    #sidebar {
        flex-direction: row;
        columns: 1 / span 1;
    }
    #sidebar_links {
        display: flex;
        flex-direction: row;
    }
}

/* grid-template-areas: 
        "sb in"
        "sb re"
        "sb wk"
        "sb pr"; */