/* Body and Misc */

a:hover {
    cursor: none;
}

body {
    background-color: black;
    cursor: none;
    width: 100vw;
    
}

#mouse_basic {
    height: 18px;
    width: 14px;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}


/* Header and Intro Sections */

#header {
    width: 100%;
    height: 10%;
    opacity: 85%;
    /* background-color: #03f0fc; */
    text-align: center;
    /* text-align: left; */
    position: relative;
} 

.header-link {
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    font-size: 4vh; /* CHANGE THIS */
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 0;
    /* text-decoration: 2px underline white; */

}

.header-link:hover {
    color: orange;
}

hr {
    width: 40vw;
    /* background-color: orange;
    color: orange; */
    border: 1px solid orange;
    margin-top: 5vh;
}

#introduction {
    color: white;
    max-width: 100vw;
}

#text-intro {
    font-size: 20vh;
    vertical-align: middle;
    animation-delay: 0.25s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-name: moveLeft;
    display: flex;
	flex-direction: row;
	justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.1)), url("../images/icon_large.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
}


/* Projects */

#projects-overlay {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 100%; */
    justify-content: left;
    /* border: solid 2px orange; */
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

.arrow {
    font-size: 60px;
    color: orange;
    background-color: #03f0fc;
    width: 10vw;
    /* align-items: center; */
}

.project-name {
    color: orange;
}

.project {
    width: 50vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project:hover {
    filter: contrast(80%);
}

.project p {
    opacity: 0;
    /* align-items: center; */
}

.project:hover p {
    animation-delay: 0.25s;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    animation-name: appear;
}

@keyframes appear {
    25% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}

#project-1 {
    background-image: url("../images/test.jpeg");
}

#project-2 {
    background-color: #03f0fc;
}

#project-3 {
    background-color: blue;
}

#project-4 {
    background-image: url("../images/test2.jpg");
}

#project-5 {
    background-image: url("../images/test2.jpg");
}

#project-6 {
    background-image: url("../images/test2.jpg");
}

.project-row {
    display: flex;
    flex-direction: row;
}


/* Footer */

footer {
    background-color: #03f0fc;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}