/* Body and Misc */

* {
    max-width: 100%;
    font-family: Tahoma, sans-serif;
    margin-left: 0;
}

a {
    text-decoration: none;
}

a:hover {
    /* cursor: url("../images/mouse_pointer.png"), auto; */
    cursor: inherit;
    color: orange;
}

body {
    background-color: black;
    cursor: url("../images/mouse_basic.png"), auto;
    width: 100vw;
}

#rotate {
    width: 100%;
    height: 100%;
    background-color: black;
    color: orange;
    text-align: center;
    font-size: 7vh;
}


/* Header and Intro Sections */

#header {
    width: 100%;
    height: 10%;
    opacity: 85%;
    text-align: center;
    position: relative;
} 

.header_link {
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    font-size: 4vh;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_link:hover {
    color: orange;
}

hr {
    width: 40vw;
    border: 1px solid orange;
    margin-top: 5vh;
    margin-left: 30vw;
}

#text_intro {
    font-size: 20vh;
    vertical-align: middle;
    animation-delay: 0.25s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-name: moveLeft;
    display: flex;
	flex-direction: row;
	justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.1)), url("../images/icon_large.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    color: white;
}

#text_intro p {
    filter: drop-shadow(2px 5px black);
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
}

#about_me {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 1vw;
    margin: 10vh 1vw 10vh;
    /* padding: 1vw; */
}

#personal_pic {
    border: 2px ridge orange;
    /* border-radius: 50%; */
    background: url("../images/professional.png") center no-repeat;
    background-size: cover;
    min-width: 30vw;
    min-height: 50vh;
    margin-left: 1vw;
    /* height: 40vh; */
}


/* Projects */

#projects_overlay {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* padding: 0px; */
    margin: 0px;
    width: 100vw;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vh;
}

.yt {
    height: 10vh;
    /* width: 25%; */
    padding: 0vh 2vw;
}

.yt:hover {
    filter: invert();
}

.project_name {
    color: orange;
    filter: drop-shadow(2px 3px black);
    font-size: 4vh;
    max-width: 50vw;
}

.project {
    width: 50vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    z-index: 1;
    overflow: auto;
}

.project:hover {
    filter: contrast(120%);
}

.project p {
    opacity: 0;
    font-size: 2vh;
    /* font-weight: bold; */
    color: white;
    max-width: 50vw;
    margin: 5vh 2vw 0vh;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.05);
    /* border: 1px inset orange; */
}

.project:hover p {
    animation-delay: 0.25s;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    animation-name: appear;
}

@keyframes appear {
    25% {
        opacity: 0.8;
    }
    100% {
        opacity: 1.0;
    }
}

#project_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/valorant_alt.jpeg");
}

#project_2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/foxbot.png") center center;
    background-size: cover;
}

#project_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/cpu.jpg");
}

#project_4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/web.jpg");
}

.project_row {
    display: flex;
    flex-direction: row;
}


/* Footer */

footer {
    background-color: orange;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    justify-content: center;
    padding: 2vh 0vw;
    color: black;
}

.copied {
    opacity: 0;
    color: white;
}

.contact_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 2vw; */
    text-align: center;
}




/* No longer used / for possible future use */

/* #mouse_basic {
    height: 18px;
    width: 14px;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
} */

/* .arrow {
    font-size: 4vw;
    font-weight: lighter;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    background-color: black;
    width: 5vw;
    text-align: center;
}

.arrow:hover {
    background-color: orange;
    color: black;
} */